*{
    font-family:"Inter", sans-serif;
    color:white;
}
html {
    width:100%;
}
body{
    width: 100%;
    background-color: black;
}
.phone{
    max-height:62.9rem;
    max-width:32.1rem;
    display:flex;
    justify-content: center;
}

.container{
    width:100%;
    min-height: 100lvh;
    overflow: hidden;
}
.content{
    
    max-width:1440px;
    margin-inline: auto;
    height: 100lvh;


}
.mama-gradienta{
    position:relative;

}
.a{
    display: flex;
    justify-content: flex-start;
    align-content: ;
}
.Two-text-blocks-and-a-gradient-are-in-this-div-In-fact-they-dont-get-along-they-just-have-to-live-together{
    margin-top: auto;
    margin-bottom: auto;
}
.first-grad{
    background: #F101BF;
    border-radius: calc(infinity * 1px);
    opacity: 0.5;
    filter: blur(100px);
    width:60rem;
    height:60rem;
    position:absolute;
    z-index:-1;
    padding: 20px;
    bottom: 250px;
    left: -250px;
}
.second-grad{
    background: #605CEA;
    border-radius: calc(infinity * 1px);
    opacity: 0.5;
    filter: blur(50px);
    width:20rem;
    height:20rem;
    position:absolute;
    z-index:-1;
}
.third-grad{
    background: rgba(0, 102, 255, 1);
    border-radius: calc(infinity * 1px);
    opacity: 0.5;
    filter: blur(100px);
    width:20rem;
    height:20rem;
    position: absolute;
    z-index:-1;
    right:1500px;
    top:850px;
}

 .logo{

    font-family: "Montserrat", sans-serif;
    display:flex;
    align-items:center;
    font-weight:700;
    font-size: 24px;
    margin-top: 2rem;
    
}
.icon{
    width:10rem;
}
h1{
    font-size:6.4rem;
    letter-spacing: 4px;
    margin-bottom: 5%;
}
.text-to-line{
    font-size:2.0rem;
    margin-left:1.5rem;
    margin-top: 2rem;
    font-family: "noto sans", serif;
    font-weight:400;


}
.quote{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10rem;
}
/* Внимание! анекдот
Теща звонит зятю:
-Ты не мог бы меня сегодня на почту отвезти?
-Конечно! Куда отправлять вас будем? */
.figma{
    display: flexbox;
}
button{
    width:27.5rem;
    height:5.25rem;
    position:relative;
    border-radius:0.9rem;
    border-color:white;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border:1px solid rgb(184, 184, 184);
}
button:hover{
    border-color:rgb(102, 102, 102);
    background-color: rgb(3, 3, 3);
    color:rgb(58, 57, 57);
}
button:active{
    color:aqua;
}
.herotwo .content {
    background-image: url(public/last-section.png);
}
.hero .content {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 3fr 1fr;
}

header {
    grid-column: span 2;
}

